<div class="div-signin">
  <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <h3 class="mb-6 font-weight-normal">Please sign in</h3>

    <p *ngFor="let alert of alerts">
      <!-- {{ alert.message }} -->
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <div class="form-group">
      <label for="user" class="sr-only">User Name</label>
      <input ngModel type="text" class="form-control" id="user" name="user" placeholder="UserName" ngModel>
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input ngModel type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel>
    </div>
    <!-- <div class="radio">
      <label><input ngModel type="radio" name="role" value="buyer">Buyer</label>
    </div>
    <div class="radio">
      <label><input ngModel type="radio" name="role" value="seller">Seller</label>
    </div> -->

    <div class="radio-role">
        <input type="radio" id="buyer" name="role" value="buyer" ngModel>
        <label for="buyer"></label>
        <span>Buyer</span>
    </div>
    <div class="radio-role">
        <input type="radio" id="seller" name="role" value="seller" ngModel>
        <label for="seller"></label>
        <span>Seller</span>
    </div>

    <!-- <div class="btn-group" data-toggle="buttons" id="rolegroup">
      <label class="btn btn-primary">
        <input ngModel type="radio" name="role" value="buyer" checked> Buyer
      </label>
      <label class="btn btn-primary">
        <input ngModel type="radio" name="role" value="seller"> Seller
      </label>
    </div> -->
    <button class="btn btn-lg btn-danger btn-block" type="submit">Login</button>
    <!-- <div class="card"> -->
    <div class="card-body">
      <a class="card-link" [routerLink]="['/buyer/signup']">Buy Signup</a>
      <a class="card-link" [routerLink]="['/seller/signup']">Seller Signup</a>
    </div>
  <!-- </div> -->
  </form>


</div>