<div class="container1">

  <form class="form-horizontal" (ngSubmit)="onSubmit()">
    <h3 class="mb-6 font-weight-normal">Buyer Signup</h3>
      <div class="form-group">
          <label for="user" class="col-sm-4 control-label inline-style font-position-right">User Name:</label>
          <div class="col-sm-8 inline-style ">
            <input type="text" class="form-control" id="user" placeholder="Enter user name">
          </div>
      </div>
      <div class="form-group">
          <label for="password" class="col-sm-4 control-label inline-style font-position-right">Password:</label>
          <div class="col-sm-8 inline-style">
            <input type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-4 control-label inline-style font-position-right">Email:</label>
          <div class="col-sm-8 inline-style">
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
      </div>
      <div class="form-group">
          <label for="phone" class="col-sm-4 control-label inline-style font-position-right">Mobile Number:</label>
          <div class="col-sm-8 inline-style">
            <input type="tel" class="form-control" id="phone" placeholder="Enter mobile number">
          </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-lg btn-primary btn-block register-btn" type="submit">Signup</button>
          </div>
      </div>
  </form>

</div>