<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">eMart</a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active list-inline">
        <!-- <a class="nav-link" [routerLink]="['/products']">Products</a>-->
      </li>
    </ul>

    <a [routerLink]="['/buyer/cart']"><i class="material-icons">shopping_cart</i></a>

    <form class="form-inline mt-2 mt-md-0">
      <!-- <button *ngIf="!isSignin" class="btn btn-outline-primary" type="submit" [routerLink]="['/login']">Login</button>-->
      <!-- <button *ngIf="isSignin" class="btn btn-outline-secondary" type="submit" (click)="signOut()">Loginout</button>-->
      <button class="btn btn-secondary" type="submit" (click)="signOut()">Logout</button>
    </form>
  </div>
</nav>
